<hr/>

<small class="episode-count" id="s@seasoncount@e@episodecount@"><span><a href="/index.html#s@seasoncount@e@episodecount@">EPISODE @episodecount@</a></span></small>
<h2 class="episode-title">@episodetitle@</h2>

<p class="episode-summary">@episodesummary@</p>
<audio controls preload="none">
     <source src="@episodeurl@" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<p><small><a href="@episodeurl@">Download MP3</a> (@episodesize@ MB)</small></p>
<h3>Show Notes</h3>
<p class="episode-show-notes">@episodenotes@</p>