<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link type="text/css" rel="stylesheet" href="/assets/css/main.css">

    <title>@podcastName@</title>

    <meta name="description" content="@podcastDescription@" >

    <meta name="twitter:site" content="@twitterHandle@">
    <meta name="twitter:creator" content="@twitterHandle@">
    <meta property="og:url" content="@podcastUrl@"/>
    <meta property="og:title" content="@podcastName@ podcast"/>
    <meta name="twitter:title" content="@podcastName@ podcast">
    <meta property="og:description" content="@podcastDescription@"/>
    <meta name="twitter:description" content="@podcastDescription@.">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="social.png" />
    <meta name="twitter:image" content="social.png">
    <meta name="robots" content="noodp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" id="viewport-iphone5" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
</head>

<body class=" rework">

<main id="content" class="main-area">

    <header class="intro">


        <h1 class="podcast_title"><a href="/">@podcastName@ PODCAST</a></h1>
        <span class="podcast_author">BY @author@</span>

        <p class="podcast_summary">@podcastDescription@</p>

        <div class="intro__subscribe">
            <a title="Listen to @podcastName@ on Apple Podcasts" href="@applePodcastUrl@"><img src="/assets/images/applepodcasts.svg" alt="Listen to @podcastName@ on Apple Podcasts" width="@buttonWidth@" height="@buttonHeight@" /></a>
            <a title="Listen to @podcastName@ on Overcast" href="@overcastUrl@"><img src="/assets/images/overcast.svg" alt="Listen to @podcastName@ on Overcast" width="@buttonWidth@" height="@buttonHeight@" /></a>

            <!--<a title="Listen to @podcastName@ on Google Play Music" href="@goolgeMusicUrl@"><img src="/assets/images/googlemusic.svg" alt="Listen to @podcastName@ on Google Play Music" width="137" height="@buttonHeight@" /></a>-->
            <a title="Listen to @podcastName@ on RadioPublic" href="@radioPublicUrl@"><img src="/assets/images/radiopublic.svg" alt="Listen to @podcastName@ on RadioPublic" width="155" height="@buttonHeight@" /></a>
            <a title="Listen to @podcastName@ on Spotify" href="@spotifyUrl@"><img src="/assets/images/spotify.svg" alt="Listen to @podcastName@ on Spotify" width="@buttonWidth@" height="@buttonHeight@" /></a>

            <a title="Listen to @podcastName@ on Pocketcast" href="@pocketcastUrl@"><img src="/assets/images/pocket-casts.svg" alt="Listen to @podcastName@ on Pocketcast" width="@buttonWidth@" height="@buttonHeight@" /></a>

            <p>or use this URL in your favorite podcast app: <br> <code>@rssUrl@</code></p>
        </div>

    </header>

    <section class="episodes">@episodes@</section>
    <footer class="colophon">

        <h3 class="colophon__title">Subscribe to the @podcastName@ podcast</h3>

        <div class="colophon__subscribe">
            <a title="Listen to @podcastName@ on Apple Podcasts" href="@applePodcastUrl@"><img src="/assets/images/applepodcasts.svg" alt="Listen to @podcastName@ on Apple Podcasts" width="@buttonWidth@" height="@buttonHeight@" /></a>

            <a title="Listen to @podcastName@ on Overcast" href="@overcastUrl@"><img src="/assets/images/overcast.svg" alt="Listen to @podcastName@ on Overcast" width="@buttonWidth@" height="@buttonHeight@" /></a>


            <!--<a title="Listen to @podcastName@ on Google Play Music" href="@goolgeMusicUrl@"><img src="/assets/images/googlemusic.svg" alt="Listen to @podcastName@ on Google Play Music" width="137" height="@buttonHeight@" /></a>-->
            <a title="Listen to @podcastName@ on RadioPublic" href="@radioPublicUrl@"><img src="/assets/images/radiopublic.svg" alt="Listen to @podcastName@ on RadioPublic" width="155" height="@buttonHeight@" /></a>
            <a title="Listen to @podcastName@ on Spotify" href="@spotifyUrl@"><img src="/assets/images/spotify.svg" alt="Listen to @podcastName@ on Spotify" width="@buttonWidth@" height="@buttonHeight@" /></a>

            <a title="Listen to @podcastName@ on Pocketcast" href="@pocketcastUrl@"><img src="/assets/images/pocket-casts.svg" alt="Listen to @podcastName@ on Pocketcast" width="@buttonWidth@" height="@buttonHeight@" /></a>
        </div>

        <p>or use this URL in your favorite podcast app: <br>
            <code>https://rss.art19.com/rework</code>
        </p>

        <p><img src="/assets/images/groovycalamari.png" alt="Groovy Calamari" width="300px"/></p>

        <p><a href="http://groovycalamari.com">Groovy Calamari</a> is a curated publication full of interesting, relevant links about Microservices, Micronaut and Groovy Ecosystem (Grails, Gradle, ...). Curated by Sergio del Amo and published weekly. Free.</p>

        <aside class="colophon__copyright">&copy; 2019 Sergio del Amo</aside>
    </footer>
</main>
</body>
</html>

